.countdownHolder {
  width: 280px;
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
  letter-spacing: -11px !important;
  font-weight: bold;
}

.countdownHolder * {
  text-align: center;
}

.digit {
  position: absolute;
  display: block;
  text-align: center;
  color: #443f3d;
  padding-top: 5px;
}

.countDiv {
  display: none;
  width: 16px;
  height: 1.6em;
  position: relative;
}

.count_wrap {
  height: 80px;
  display: inline-block;
  margin: 0 0 0 4px;
  position: relative;
  width: 66px;
  font-size: 0;
  line-height: 58px;
}

.count_wrap:first-child {
  margin-left: 0;
}

.lay {
  background: url("../images/lay.png") repeat-x scroll 50% 0 transparent;
  height: 72px;
  left: 0;
  right: 0;
  position: absolute;
  top: 2px;
  width: 64px;
}

.count_wrap:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -10px;
  height: 14px;
  background: url('../images/days.png') 0 0 no-repeat;
}

.count_wrap.countHours:after {
  background-position: -64px 0;
}

.count_wrap.countMinutes:after {
  background-position: -130px 0;
}

.count_wrap.countSeconds:after {
  background-position: -192px 0;
}

.position {
  font-size: 40px;
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 22px;
}