@media (max-width: 1200px) {
  .el-header {
    position: relative;
  }
  .el-hello {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  .el-nice {
    display: none;
    padding: 20px 0;
  }
  .el-header {
    padding: 20px 0;
  }
  .el-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .el-header__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  .el-hello {
    padding: 20px 0;
  }
  .activity .diin_bold {
    font-size: 18px;
  }
  .form_wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .form_bg {
    left: auto;
    top: auto;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
  }
  .count_down {
    left: auto;
    top: auto;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    padding: 0 0 20px 0;
  }
  .counter {
    padding: 0;
  }
  .counter .desc {
    display: block;
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
  }
  .count_down .first_line {
    padding: 5px 0;
    text-align: center;
  }
  .count_down .first_line .num {
    display: block;
    float: none;
    margin: 0;
  }
  .el-companies {
    justify-content: space-around;
    padding: 20px 0;
    img {
      width: 120px;
      height: 40px;
      margin: 10px;
      object-fit: contain;
    }
  }
  .el-why {
    padding: 20px 0;
  }
  .el-why__card_1 {
    margin: 0;
  }
  .el-why__card_2 {
    margin-left: -15px;
  }
  .el-price {
    padding: 20px 0;
  }
  .el-price__title {
    margin-bottom: 20px;
  }
  .el-price__download {
    margin-top: 10px;
  }
  .el-model {
    padding: 20px 0;
  }
  .el-model__title {
    margin-bottom: 20px;
  }
  .el-goods {
    padding: 20px 0;
  }
  .nav-tabs {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-tabs>li>a {
    margin: 5px;
  }
  .tab-content {
    padding-top: 20px;
  }
  .el-goods__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    &-left {
      margin: 0 0 10px 0;
    }
    .el-goods__card-title {
      margin: 10px 0;
    }
  }
  .el-goods__card {
    margin-bottom: 20px;
  }
  .el-reviews {
    padding: 20px 0;
  }
  .el-reviews__title {
    margin-bottom: 20px;
  }
  .el-reviews__sub-title {
    margin-bottom: 20px;
  }
  .el-reviews__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    &-left {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 20px 0;
    }
    .el-goods__card-title {
      margin: 10px 0;
    }
  }
  .el-reviews__card {
    margin-bottom: 30px;
  }
  .clients {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .el-profit {
    padding: 20px 0;
  }
  .el-profit__card {
    padding: 85px 20px 20px 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-team {
    padding: 20px 0;
  }
  .el-team img {
    margin-bottom: 20px;
  }
  .el-gallery .slick-prev {
    left: 50%;
    top: 100%;
    margin-top: 30px;
  }
  .el-gallery .slick-next {
    right: 50%;
    top: 100%;
    margin-top: 30px;
  }
  .el-videos {
    padding: 70px 0 20px 0;
  }
  .el-seo {
    padding: 20px 0;
  }
  .el-seo__sub-title {
    margin-bottom: 20px;
  }
  .el-footer__container {
    position: relative;
    width: 100%;
    padding: 20px 40px;
  }
  .el-footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  iframe {
    max-height: 300px;
  }
}

@media (max-width: 768px) {}