// bower:scss
// endbower
@font-face {
  src: url('../fonts/dinpro-regular.otf');
  font-family: "DIN Pro";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/dinpro-light.otf');
  font-family: "DIN Pro";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/dinpro-medium.otf');
  font-family: "DIN Pro";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/DINPro-Black.otf');
  font-family: "DIN Pro";
  font-weight: 900;
}

@font-face {
  src: url('../fonts/DINPro-Bold.otf');
  font-family: "DIN Pro";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/DINPro-CondBlack.otf');
  font-family: "DIN Pro - Condensed Black";
  font-weight: 400;
}

body {
  overflow-x: hidden !important;
  background-color: #ffffff;
  color: #2f2f2f;
  font-family: "DIN Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

@import "atoms";
@import "countdown";
@import "restyle";
@import "responsive";